<div class="background ">

    
    <div class="bg-form">
        <div class="rounded" >
            <h1 >Sign UP</h1>
            <form [formGroup]="signupform" >
                <div >
                    <label for="IDFRISTNAME" > 
                      <i class="fa fa-solid fa-user"></i><span>Name En</span></label>
                      <label for="IDFRISTNAME" class="label" > 
                        <i class="fa fa-solid fa-user"></i><span>Name Ar</span></label>
                </div>
                    <input formControlName="nameen" type="text" name="full name" id="IDfristname"
                        placeholder="enter your name please " required >
                        <input formControlName="namear" type="text" name="full name" id="IDlastname" 
                        placeholder="enter your name please " required >
                <div >
                    <label for="IDEmail" >
                        <i class="fa fa-solid fa-at"></i> <span>Email</span></label>
                </div>
                    <input formControlName="email" type="email" name="Email" id="IDEmail"
                        placeholder="enter your email please " required>
                
                <div >
                    <label for="IDpass" >
                        <i class="fa fa-solid fa-lock"></i><span>Password</span></label>
                    <label for="IDpass1" class="label" >
                        <i class="fa fa-solid fa-lock"></i><span>Confirm password</span></label>
                
                </div>
            
                <input formControlName="password" type="password"  id="IDpass" name="password"
                placeholder="enter your password  " required>
                <input formControlName="confirmpassword" type="password" id="IDpass1" name="password"
                    placeholder="enter your password  " required>

                <div class="d-flex" >
                  <label for="IDpass"  >
                    <i class="fa fa-solid fa-globe"></i><span>Country</span></label>
                     <label for="IDpass1"  class="city"  >
                        <i class="fa fa-solid fa-city"></i><span>City</span></label>       
                        <label for="IDpass1" class="city"  >
                            <i class="fa fa-solid fa-road"></i><span>Street</span></label>    
                </div>
                <input formControlName="country" type="text"  id="IDcountry" name="country"
                placeholder="country " required>
                    <input formControlName="city" type="text" id="IDcity" name="city"
                        placeholder="city " required>
                        <input formControlName="street" type="text" id="IDstreet" name="street"
                        placeholder="street " required>
                <div>
                    <label for="IDpass" style="display: block;">
                        <i class="fa fa-solid fa-phone"></i><span>Phone</span></label>
                        
                            <label for="IDphone"  class="eg-num">+20</label>
                            <input  formControlName="phone" type="text"  id="IDphone" name="phone"
                            placeholder="enter your phone please  " required>
                        </div>  
                        <div>
                            <label for="IDpass" style="display: block;">
                                <i class="fa fa-solid fa-file-word"></i><span>Taxcard</span></label>
                                
                                   
                                       
                                <input  formControlName="taxcard" type="file"  id="IDEmail" name="texcard"
                                placeholder="enter your texcard" required >
                            </div> 
                                
              
                   <div class="checkbox d-flex ">
                        <input type="checkbox" id="CB">
                        <p >I Agree With Privacy and Policy</p>
                </div>
                <div class="but-sign">
                <button type="submit" class="btn" [disabled]="signupform.invalid" (click)="signup()">Sign up</button>
                    <span>Already have an account ?</span> 
                    <a routerLink='/account/login'>Log In</a>
                 </div>
    
            </form>
        </div>
            <div>
                <img src="/../assets/image/one.png"/>
            </div>
      
       
    </div>
</div>
