<!-- <h1>All Collection</h1><br><br> -->

    
<div class="container">
   
<div class="card" >
  
    <img src="" alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>See More Details</button></p>
  </div>
  <div class="card">
    <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>See More Details</button></p>
  </div>
  <div class="card">
    <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>See More Details</button></p>
  </div>
  <div class="card">
    <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>See More Details</button></p>
  </div>
  <div class="card">
    <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>See More Details</button></p>
  </div>
</div>