h1
{
    
    color: darkred;
    margin-left: 10rem;
    margin-top: 8rem;
}
form div
{
    margin-top: 2rem;
    margin-left: 10rem;
   
}
span
{
    
    margin-left: 0.5rem;
    font-weight: 900;
}
.label
{
    margin-left: 6.4rem;
   font-weight: 900;

}

form input
{
    margin-top: 1rem;
    height: 2rem;
    outline: none;
    background: none;
    border: 0.1rem solid black;
    border-radius:2rem;
   margin-left: 10rem;
    padding-left: 0.5rem;
  
    
}
 ::placeholder
 {
     
     padding-left: 0.1rem;
 }
 #IDEmail 
{
    width:  25rem;
    background: none;
    border: 0.1rem solid black;
}
.but-sign
{
    margin-top: 5rem;
    
}
button
{
  background-color: darkred;
  color: white;
  margin-left: 15px;
}
.but-sign a
{
    color:rgb(224, 73, 73);
    margin-left: 1rem;
}