    <!-- NavBar -->
      <!-- Section 1  -->
        <section class="section1">
          <h1>EXTrade</h1>
          <!-- <span> We Are .NET Engineers </span>
          <span class="auto-input"></span> -->
              <div class="buttons">
                  <button class="market-section1" routerLink="/user/product-list">Go To Market</button>
                  <button class="details-section1" routerLink="/user/product-list">For More Details</button>
                  <!-- <img src="./Group 60.png" alt=""> -->
              </div>
       </section>
  <!-- Section 2 -->
      <section class="section2">
          <div>
              <h1>Best product</h1>
              <img class="bestpng" src="../../../../assets/image/top-rated.png" alt="">
          </div>
        <div class="allproduct">
            <div>
            <div class="d-flex mt-3">
                <img src="../../../../assets/image/fashion.webp" />
                <div class="word">
                <h4>Fashion Category</h4>
                <span>This Category Include Men's Clothes  and Women's Clothes </span>
            </div>
            </div>
            <div class="d-flex mt-3">
                <img src="../../../../assets/image/a-25.png" />
                <div class="word">
                    <h4>Electronic Category</h4>
                    <span>This Category Include laptop  , computers and phons </span>
                </div>
            </div>
            <div class="d-flex mt-3">
                <img src="../../../../assets/image/shose.jpg" />
                <div class="word">
                    <h4>shoes Category</h4>
                    <span>This Category Include Men's shoese  and Women's shose </span>
                </div>
            </div>
            <div class="d-flex mt-3">
                <img src="../../../../assets/image/bags.jpg" />
                  <div class="word">
                    <h4>bag Category</h4>
                    <span>This Category Include Men's bag and Women's bag </span>
                </div>
            </div>
            <button class="details-section1" routerLink="/user/product-list"> See More Category</button>
            </div>
            <div class="line"></div>
            <div >
                
                    <div class="d-flex mt-3 ">
                        <img src="../../../../assets/image/shosemen.jpg" />
                        <div class="word">
                        <h4>shoes's men</h4>
                        <span>This Shoes Made By Leather With Brown And Black Color </span>
                    </div>
                    </div>
                    <div class="d-flex mt-3">
                        <img src="../../../../assets/image/tshirt.jfif" />
                        <div class="word">
                            <h4>T-Shirt's Men</h4>
                            <span>This Shirt  Madr By Cotton with Green Color </span>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <img src="../../../../assets/image/bage.jpg" />
                        <div class="word">
                            <h4>Bage's Women</h4>
                            <span>This Bage Made With Leather With Bink Color </span>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <img src="../../../../assets/image/laptop.jfif" />
                          <div class="word">
                            <h4>HP Laptop</h4>
                            <span>Laptop HP CORE i7  </span>
                        </div>
                    </div>
                    <button class="details-section1" routerLink="/user/product-list"> see More Product</button>
            </div>
        </div>
         
      </section>
      <!-- Section 3 -->
  <section class="section3">
      <div>
      <img class="we-are" src="../../../../assets/image/Screenshot 2022-07-24 124724.png"/></div>
      <div>
          <h1>SHOPPING ONLINE</h1>
          <h2>1. Convenience</h2>
  <p>Convenience is the biggest perk. Where else can you comfortably shop at midnight while in your pajamas? There are no lines to wait in or cashiers to track down to help you with your
   purchases, and you can do your shopping in minutes.</p>
   <h2>2. Better Prices</h2>
  <p>Cheap deals and better prices are available online, because products come to you direct from the manufacturer or seller without involving middlemen. Plus, it's easier to compare prices and find a better deal. Many online sites 
  offer discount coupons and rebates, as well.</p>
  <h2>3. More Variety</h2>
  <p>The choices online are amazing. You can find almost any brand or item you're looking for. You can get in on the latest international trends without spending money on airfare. You can shop from retailers in other parts of the state, country, or even world instead of being limited to your own geography. A far greater selection of colors and 
  sizes than you will find locally are at your disposal.</p>
      </div>
      
  </section>
 
  <!-- Contact us -->
  <section class="section5">
    <div>
        <img src="../../../../assets/image/Group 1477.png" alt="">
    </div>
    <div class="form">
      <h2 class="quest">Got a question ?</h2>
      <h3>Contact Us :) </h3>
      
      <form action="" method="post">
          <input type="text" name="name" id="name" placeholder="Name">
          <input type="email" name="email" id="email" placeholder="Email">
          <input type="text" name="subject" id="subject"placeholder="Subject">
          <textarea name="massage" id="massage" cols="30" rows="10" placeholder="Massage"></textarea>
          <button type="submit">Send</button>
      </form>
    </div>
  </section>
  <footer>
    <img class="footerbg" src="../../../../assets/image/x2.png" alt="">
    <img class="logo" src="../../../../assets/image/x34.png" alt="">
    <p>All rights reserved © EX-Trade 2022</p>
    </footer>
  
