* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
  }
  .section1{
  height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    background-image: url("../../../../assets/image/shopping.jpg");
  } */
  /* Section 1 */
  .section1 {
    justify-content: center;
    justify-items: center;
    margin-top: 10rem;
    margin-left: 10rem;
  }
  .section1 h1 {
    font-size: 4rem;
    color: #0a11a1;
    margin-bottom: 4rem;
    padding-top: 6rem;
    margin-left: 5rem;
  }
  .section1 span {
    color: #000565;
    font-size: 2rem;
    font-family: "Courier New", Courier, monospace;
  }
  .section1 .auto-input {
    text-align: center;
    margin-top:20rem;
    color: #3840f7;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    word-spacing: 0.2rem;
    font-family: monospace;
  }
  .buttons{
    margin-top: 3rem;
    margin-left: 5rem;
  }
  .buttons img{
    max-width: 20rem;
    margin-left: 60rem;
  
  margin-top: -30rem;}
  .section1 .market-section1 {
    border-style: none;
    background-color: white;
    padding: 0.8rem;
    border-radius: 1rem;
    border: 0.2rem solid #3840f7;
    transition: linear;
    cursor: pointer;
    margin-top: 3rem;
    font-size: 1rem;
    /* font-family: "Courier New", Courier, monospace; */
    margin-right: 2rem;
    margin-top: 3rem;
  }
  .section1 .market-section1:hover {
    background-color: #3840f7;
    color: white;   
    transition: all 0.2;
  }
  .details-section1 {
    border-style: none;
    background-color: #3840f7;
    border: 0.2rem solid #3840f7;
    padding: 0.8rem;
    color: white;
    transition: linear;
    cursor: pointer;
    margin-top: 3rem;
    font-size: 1rem;
    /* font-family: "Courier New", Courier, monospace; */
    margin-right: 2rem;
    border-radius: 1rem;
  }
  .details-section1:hover {
    border: 0.2rem solid #3840f7;
    background-color: white;
    color: #52050a;
    transition: all 0.2;
  }
  
  .section2 {
    margin-top: 4rem;
    justify-content: center;
    justify-items: center;
  }
  
  .section2 h1 {
    font-size: 3rem;
    color: white;
    background-color: #006aff;
    width: 25rem;
    height: 5rem;
    padding-left: 5rem;
    padding-top: 1rem;
    border-radius: 0rem 3rem 3rem 0rem;
    margin-bottom: 1rem;
    animation: sect2 5s infinite linear;
  }
  @keyframes sect2 {
    0% {
      border-radius: 0rem 3rem 3rem 0rem;
    }
    50% {
      border-radius: 0rem 0rem 0rem 0rem;
      background-color: #3840f7;
    }
    100% {
      border-radius: 0rem 3rem 3rem 0rem;
    }
  }
  .section2 .card-for-product
  {
    height: 25rem;
    width: 30rem;
    margin-top:1rem;
    margin-left: 3rem;
    
    box-shadow: 0.4rem 0.6rem  #deebed;
    border: 2px solid lightblue;
     cursor: pointer;
  }
  .section2 .card-for-product img 
  {
    width: 200px;
    height: 150px;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-right: 4rem;
  }
  .section2 .card-for-product .line{
  border: 0.5px solid lightblue;
  margin-top: 1.5rem;
  }
  .section2 .card-for-product h2 {
     
     font-size: 1.5rem;
     margin-top: 1rem;
     margin-left: 1rem;
  
  }
  .section2 .card-for-product p{
    width: 200px;
    margin-top: 8px;
    margin-left: 1rem;
    
  }
  .section2 .card-for-product button
  {
    margin-left: 2rem;
    padding: 0.5rem;
  }
  .section2 .card-for-product span{
    border: 3px solid blue;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  
  /* .section2 .card-for-product .btn
  {
     margin-left: -0.1rem;
     width: 90px;
     margin-top: -0.016rem;
  }
  .section2 .card-for-product button  {
    border: 1px solid black;
    color: #ffffff;
    background-color: white;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000d21;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
   margin-left: 1rem;
   margin-top: 2rem;
   width: 120px;
  }
  .section2 .card-for-product button:hover {
    background-color: #006aff;
    color: #ffffff;
    box-shadow:#006aff 0.2rem 0.1rem 0.9rem 0.1rem;
  } */
  .section2 .box-top-card-product {
    /* background-color: #182525; */
    width: 20rem;
    height: 5rem;
    /* border: #182525 0.1rem solid; */
    padding: 2rem;
    margin-top: -4rem;
    margin-left: -4rem;
  }
  .allproduct {
    display: flex;
    flex-direction: row;
    width: 2rem;
  
    margin-bottom: 2rem;
    margin-top: 8rem;
  }
  .undercard{
    max-width: 20rem;
    margin-left: 65rem;
    margin-top: 1rem;
  }
  /* section3 */
  
  
  .section3
  {
    margin-top: 5rem;
    display: flex;
  }
  .section3 img{
    width: 800px;
    margin-left: 4rem;
   
  }
  .section3 h1{
    margin-top: 4rem;
  }
  .section2 .bestpng{
  max-width: 3rem;
  display: flex;
  margin-top: -5.5rem;
  margin-left: 1rem;
  }
  .section3 h2{
    margin-top: 4rem;
  }
  .section3 p{
    width: 600px;
  }
  /* Secion 4 */
  .section4{
  margin-top: 10rem;
  width: 100%;
  margin-bottom: 10rem;
  }
  .section4 .point{
    width: 1rem;
    height: 1rem;
    background-color: #006aff;
    border-radius: 100%;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .section4 .asuser{
    width: 500px;
    margin-top: 30px;
  }
  .section4 .asmarketer{
    margin-left: 25rem;
  }
  .section4 h2{
    color: #ffffff;
    margin-top: 5rem;
    margin-left:0.8rem;
    width: 100rem;
    font-size: 2rem;
    font-style: italic;
    /* word-spacing: 0.2rem; */
    font-family: monospace;
  }
  .section4 p{
    color: #bbc3ca;
    margin-top: 8.5rem;
    width: 80rem;
    margin-left: -15rem;
    font-size: 1rem;
  }
  .section4 .we-are {
    max-width: 45rem;
    margin-left: 30rem;
    margin-bottom: 5rem;
    margin-top: rem;
  }
  .section4 .usersign
  {
  margin-left: 15rem;
  }
  .section4 .marketersign{
    margin-left: 50rem;
  }
  /* Section 5 */
  .section5{
    display: flex;
  }
  .section5 h2 {
    color: #3840f7;
  font-size: 3rem;
  }
  .section5 h3{
    color: #3840f7;
  }
  .section5 img{
    width: 800px;
  }
  .section5 .form{
    margin-left: 5rem;
  }
  section5 form {
    display: flex;
    flex-direction: column;
    margin-left: 65rem;
    margin-top: -15rem;
    /* justify-content: space-between; */
  }
  #name{
    width: 10rem;
    border-radius: 2rem;
    padding: 1rem;
    border: 0.2rem #006aff solid;
  
  }
  #name:focus{
    border: none;
    border-style: none;
    border: 0.2rem #006aff solid;
    box-shadow: #0556d7 0.2rem 0.1rem 0.9rem 0.1rem;
    background-color:none;
    outline: none;
  }
  #email{
    width: 10rem;
    border-radius: 2rem;
    padding: 1rem;
    border: 0.2rem #006aff solid;
    margin-left: 2rem;
    margin-top: -3.4rem;
    margin-bottom: 2rem;
  }
  #email:focus{
    border: none;
    border-style: none;
    border: 0.2rem #006aff solid;
    box-shadow: #0556d7 0.2rem 0.1rem 0.9rem 0.1rem;
    background-color:none;
    outline: none;
  }
  #subject{
    width: 22rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    border: 0.2rem #006aff solid;
  }
  #subject:focus{
    border: none;
    border-style: none;
    border: 0.2rem #006aff solid;
    box-shadow: #0556d7 0.2rem 0.1rem 0.9rem 0.1rem;
    background-color:none;
    outline: none;
  }
  #massage {
    width: 22rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    border: 0.2rem #006aff solid;
    resize: none;
  }
  #massage:focus{
    border: none;
    border-style: none;
    border: 0.2rem #006aff solid;
    box-shadow: #0556d7 0.2rem 0.1rem 0.9rem 0.1rem;
    background-color:none;
    outline: none;
  }
  .section5 button {
    background-color:#006aff;
    color: #ffffff;
    cursor: pointer;
    width: 22rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    padding: 1rem;
    border: none;
    font-size: 1.2rem;
  }
  .section5 button:hover{
    /* background-color: #0035a0; ; */
    box-shadow: #0556d7 0.2rem 0.1rem 0.9rem 0.1rem;
  }