    <!-- NavBar -->
      <!-- Section 1  -->
        <section class="section1">
          <h1>EXTrade</h1>
          <!-- <span> We Are .NET Engineers </span>
          <span class="auto-input"></span> -->
              <div class="buttons">
                  <button class="market-section1" type="submit">Go To Market</button>
                  <button class="details-section1" type="submit">For More Details</button>
                  <!-- <img src="./Group 60.png" alt=""> -->
              </div>
       </section>
  <!-- Section 2 -->
      <section class="section2">
          <div>
              <h1>Best product</h1>
              <img class="bestpng" src="../../../../assets/image/top-rated.png" alt="">
  
          </div>
         <div class="allproduct">

          <div class="card-for-product">
              <img src="../../../../assets/image/lap.jfif" />
              <div class="line"></div>
              <h2>LAPTOP </h2>
               <p >Computer pc easy for carry outside have full option ....</p> 
              <button class="details-section1"  [routerLink]="['/cart']" >Add To Card</button>
              <span>150$</span>
          </div>
          <div class="card-for-product">
            <img src="../../../../assets/image/tshirt.jfif" />
            <div class="line"></div>
            <h2>polo T-Shirt </h2>
             <p >T-shirt made of cotton material ,high copy product  ....</p> 
            <button class="details-section1" style="margin-top: 1rem; " [routerLink]="['/cart']">Add To Card</button>
            <span>50$</span>
        </div>
        <div class="card-for-product">
            <img src="../../../../assets/image/laptop.jfif" />
            <div class="line"></div>
            <h2>LAPTOP HP </h2>
             <p >Computer pc easy for carry outside have full option ....</p> 
            <button class="details-section1" [routerLink]="['/cart']" >Add To Card</button>
            <span>140$</span>
        </div>
        <div class="card-for-product">
            <img src="../../../../assets/image/tsh.jfif" />
            <div class="line"></div>
            <h2>soft T-Shirt </h2>
             <p >T-shirt have a unique design ,color is very simple </p> 
            <button class="details-section1" [routerLink]="['/cart']" >Add To Card</button>
            <span>150$</span>
        </div>
         </div>    
      </section>
      <!-- Section 3 -->
  <section class="section3">
      <div>
      <img class="we-are" src="../../../../assets/image/Screenshot 2022-07-24 124724.png"/></div>
      <div>
          <h1>SHOPPING ONLINE</h1>
          <h2>1. Convenience</h2>
  <p>Convenience is the biggest perk. Where else can you comfortably shop at midnight while in your pajamas? There are no lines to wait in or cashiers to track down to help you with your
   purchases, and you can do your shopping in minutes.</p>
   <h2>2. Better Prices</h2>
  <p>Cheap deals and better prices are available online, because products come to you direct from the manufacturer or seller without involving middlemen. Plus, it's easier to compare prices and find a better deal. Many online sites 
  offer discount coupons and rebates, as well.</p>
  <h2>3. More Variety</h2>
  <p>The choices online are amazing. You can find almost any brand or item you're looking for. You can get in on the latest international trends without spending money on airfare. You can shop from retailers in other parts of the state, country, or even world instead of being limited to your own geography. A far greater selection of colors and 
  sizes than you will find locally are at your disposal.</p>
      </div>
      
  </section>
  <!--========================== ABout us ========================    -->
  <section class="section4">
      <img src="../../../../assets/image/asuser.png" class="asuser">
      <img src="../../../../assets/image/mar.jpg" class="asmarketer">
      <button class="details-section1 usersign">SIGN UP AS USER</button>
      <button class="details-section1 marketersign">SIGN UP AS Marketer</button>
      <img class="we-are" src="../../../../assets/image/Group 1644.png" alt="">
     
  </section>
  <!-- Contact us -->
  <section class="section5">
    <div>
        <img src="../../../../assets/image/Group 1477.png" alt="">
    </div>
    <div class="form">
      <h2 class="quest">Got a question ?</h2>
      <h3>Contact Us :) </h3>
      
      <form action="" method="post">
          <input type="text" name="name" id="name" placeholder="Name">
          <input type="email" name="email" id="email" placeholder="Email">
          <input type="text" name="subject" id="subject"placeholder="Subject">
          <textarea name="massage" id="massage" cols="30" rows="10" placeholder="Massage"></textarea>
          <button type="submit">Send</button>
      </form>
    </div>
  </section>
  
