
     
        
    <a [routerLink]="['/marketer/addcollectionproduct']" class="plusicon"><i class="fa fa-solid fa-plus"></i></a>
    
        
<div *ngFor="let collection of listcollection">
<div class="divheader" ></div>
<div class="divbody">
           <h1>{{collection.name}}</h1>  
           <div *ngFor="let product of collectionproduct">
               <img src="{{product.image}}">
           </div>   
            <button [routerLink]="['/marketer/productincollection']" (click)="getproduct()">See More</button>                  
 </div>
</div>
          
