




<div class="col-9 container">
    <div class="form-groub">
      <input type="text" class="search-input" id="filter-text-box" placeholder="Search Product" #query
        (keyup.enter)="filter(query.value)" />
        <span class="fas fa-search search-icon"></span>
    </div>
   

  <div class="row" *ngIf="!loading">
    <ng-container *ngFor="let item of productlist">
      <div class="card col-md-3 " >
        <button class="btn " (click)=addproduct(item)>
            <input type="checkbox" id="" name="" value="">
            </button>
      
<a [routerLink]="['details/',item.id]" >
  <img class="image" [src]="item.image" alt="" />
</a>

        <div class="body">
          <h5 class="title">{{item.title}}</h5>
          <!-- <h5>{{item.NameEn}}</h5> -->
          <p class="title">{{item.description}}</p>
          <!-- <p>{{item.Description}}</p> -->
        </div>
        <h6><strong>Price:</strong>{{item.price}}</h6>
       

      </div>
    </ng-container>
  </div>
</div>
<div class="text-center w-100 " *ngIf="loading">
  <app-spinner></app-spinner>
  loading.......................
</div>
