
                <form [formGroup]="signupform"  >
                    <img class="marketerimg" src="{{infmarketer.image}}"/>
                       <div >
                           <label for="IDFRISTNAME" > 
                             <i class="fa fa-solid fa-user"></i><span>Name En</span></label>
                             <label for="IDFRISTNAME" class="label" > 
                               <i class="fa fa-solid fa-user"></i><span>Name Ar</span></label>
                       </div>
                           <input formControlName="nameen" type="text" name="full name" id="IDfristname"
                               placeholder="enter your name please " required value="{{infmarketer.nameen}}">
                               <input formControlName="namear" type="text" name="full name" id="IDlastname" 
                               placeholder="enter your name please " required value="{{infmarketer.namear}}">
                       <div >
                           <label for="IDEmail" >
                               <i class="fa fa-solid fa-at"></i> <span>Email</span></label>
                       </div>
                           <input formControlName="email" type="email" name="Email" id="IDEmail"
                               placeholder="enter your email please " required value="{{infmarketer.email}}">
                       
                       <div >
                           <label for="IDpass" >
                               <i class="fa fa-solid fa-lock"></i><span>Password</span></label>
                           <label for="IDpass1" class="label" >
                               <i class="fa fa-solid fa-lock"></i><span>Confirm password</span></label>
                       
                       </div>
                   
                       <input formControlName="password" type="password"  id="IDpass" name="password"
                       placeholder="enter your password  " required value="{{infmarketer.password}}">
                       <input formControlName="confirmpassword" type="password" id="IDpass1" name="password"
                           placeholder="enter your password  " required value="{{infmarketer.confirmpassword}}">
       
                       <div class="d-flex" >
                         <label for="IDpass"  >
                           <i class="fa fa-solid fa-globe"></i><span>Country</span></label>
                            <label for="IDpass1"  class="city"  >
                               <i class="fa fa-solid fa-city"></i><span>City</span></label>       
                               <label for="IDpass1" class="city"  >
                                   <i class="fa fa-solid fa-road"></i><span>Street</span></label>    
                       </div>
                       <input formControlName="country" type="text"  id="IDcountry" name="country"
                       placeholder="country " required value="{{infmarketer.country}}">
                           <input formControlName="city" type="text" id="IDcity" name="password"
                               placeholder="city " required>
                               <input formControlName="street" type="text" id="IDstreet" name="password"
                               placeholder="street " required value="{{infmarketer.city}}">
                       <div>
                           <label for="IDpass" style="display: block;">
                               <i class="fa fa-solid fa-phone"></i><span>Phone</span></label>
                               
                                   
                                   <input  formControlName="phone" type="text"  id="IDEmail" name="phone"
                                   placeholder="enter your phone please  " required value="{{infmarketer.phone}}">
                               </div>  
                               <div>
                                   <label for="IDpass" style="display: block;">
                                       <i class="fa fa-solid fa-file-word"></i><span>Taxcard</span></label>
                                       
                                          
                                           <input  formControlName="texcard" style="height: 3rem;" type="file"  id="IDEmail" name="texcard"
                                           placeholder="enter your texcard   " required value="{{infmarketer.texcard}}">
                                       </div> 
                     
                       <div class="but-sign">
                       <button type="button" class="btn">Cancle</button>
                       <button type="button" class="btn brn-primry" (click)="updatemarketer()" >
                           Update </button>
                        </div>
           
               </form>  
  


